@(user: models.User)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <link rel="stylesheet"
              href='@routes.Assets.versioned("compiled/styles.css")'>
        <link rel="shortcut icon" type="image/png"
        href='@routes.Assets.versioned("images/favicon.png")'>
    </head>
    <body>
        <h1>[Restricted area] Profile</h1>
        <ul>
            <li>Id : @user.userId</li>
            <li>Code : @user.userCode</li>
            <li>Password : @user.password</li>
        </ul>
        <hr/>
        <a href="/">Home</a><br/>
        <a href="/logout">Logout</a>
        <script src='@routes.Assets.versioned("compiled/bundle.js")' ></script>
    </body>
</html>
